@use "../abstract/mixins" as mix;
/*! cleaning */
.cleaning {
  &-body {
    width: 330px;
    border-radius: 30px;
    padding: 2rem 0;
    &__img {
      width: 95px;
      margin-bottom: 1rem;
    }
    &__btn1 {
      @include mix.size(210px, 50px);
      border: 2px solid #43aaff;
      background-color: #fff;
      border-radius: 100px;
      margin-bottom: .5rem;
    }
    &__btn2 {
      @include mix.size(210px, 50px);
      border: 2px solid #43aaff;
      background-color: #43AAFF;
      border-radius: 100px;
      margin-bottom: .5rem;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.215);
    }
  }
}
